.section {
  margin: 2rem 1rem;
}

.section-top {
  margin-bottom: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.section-title {
  font-size: 1.6rem;
  font-weight: 600;
}

.products-list {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.15rem;
  margin-block: 1rem;
}

@media only screen and (max-width: 500px) {
  .section {
    margin: 2rem 0.5rem;
  }
}
